{% extends "base.html" %}

{% block title %}requirements.io{% endblock%}

{% block content %}
<div id='features' class='features_page'>
<div class="row">
    <div class="span12">
        <h3 class="intro">
            requirements.io keeps track of dependency versions<br />
            for your Python projects located on GitHub
        </h3>
        <h3 class="intro">
        <a href="{{ url_for('login') }}" class="btn btn-primary btn-large">
            Sign in with your GitHub account
        </a>
        </h3>
    </div>
</div>
{% endblock %}
